*{
  font-family: "Evo 2"sans-serif;
  box-sizing: border-box;
}

h1,h3,h3,
h4,h5,h6,
p,span,ul,ol,
body,html
{ margin: 0;
padding: 0;
}

.container {
max-width: 1200px;
margin: auto;
}

#menu-header .container {
display: flex;
padding: 40px 0;
justify-content: space-between;
align-items: center;
}

#menu-header ul {
display: flex;
  list-style: none;
}

#menu-header ul li {
padding: 0 10px;

}

#menu-header ul li a {
font-size: 16px;
font-weight: 600;
color: #000;
text-decoration: none;
}